{% extends 'base.html' %}

{% block content %}
    <h1>IN</h1>
    <form action="{{ url_for('index') }}" method="post">
        <label for="symbol">Choose Symbol</label>
        <select name="symbol" id="symbol">
            <option value="">Select a Symbol</option>
            {% for stock in stocks %}
            <option value="{{ stock.symbol }}">{{ stock.symbol }}</option>
            {% endfor %}
        <br>

        <label for="content">Post Content</label>
        <br>
        <textarea name="content" placeholder="Post content" rows="15" cols="60">{{ request.form['content'] }}</textarea>
        <br>

        <button type="submit">Submit</button>
    </form>
{% endblock %}
