{% extends 'base.html' %}

{% block content %}
<form action="{{ url_for('index') }}" method="post">
    <div class="form-field">
        <label for="symbol">Choose Symbol</label>
        <select name="symbol" id="symbol">
            <option value="">Select a Symbol</option>
            {% for stock in stocks %}
            <option value="{{ stock.symbol }}">{{ stock.symbol }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="form-field">
        <label for="chart_type">Choose Chart Type</label>
        <select name="chart_type" id="chart_type">
            <option value="">Select a Chart Type</option>
            {% for chart_type in chart_types %}
            <option value="{{ chart_type }}">{{ loop.index }}. {{ chart_type }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="form-field">
        <label for="time_series">Choose Time Series</label>
        <select name="time_series" id="time_series">
            <option value="">Select a Time Series</option>
            {% for time_series in time_series %}
            <option value="{{ time_series }}">{{ loop.index }}. {{ time_series }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="form-field">
        <label for="start_date">Start Date</label>
        <input type="date" name="start_date" id="start_date">
    </div>

    <div class="form-field">
        <label for="end_date">End Date</label>
        <input type="date" name="end_date" id="end_date">
    </div>

    <button type="submit">Submit</button>
</form>

{% if chart %}
<div class="chart">
    <embed type="image/svg+xml" src={{chart.render_data_uri()|safe}} />
</div>
{% endif %}

{% endblock %}
